.tracklist{
    color: hsla(0,0%,100%,.6);
    width: 100%;
    list-style: none;
    padding: 0;

    &__row{
        display: flex;
        list-style-type: none;
        user-select: none;
    }

    &__name-column{
        cursor: pointer;
        display: block;
        text-align: left;
            flex: 1;
            width: 0;
            overflow: hidden;
    }

    &__duration-column {
        font-feature-settings: "tnum";
        letter-spacing: 0;
        text-align: right;
        padding-right: 1em;
        margin-top: .7em;
    }

    &__select-column {
        display: flex;
        align-items: center;
        padding: 10px;

    }
}

.track-wrapper {
    margin-top: .7em;
    display: flex;
    flex-direction: column;
}
.track {
    &__name {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .015em;
        color: #fff;
    }

    &__description {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__artist {
        color: hsla(0,0%,100%,.6);
    }
}